* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-text-color: #264653;
    --secondary-text-color: #2a9d8f;
    --primary: #e76f51;
    --secondary: #f4a261;
    --tertiary: #e9c46a;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
    background-color: var(--primary);
    height: 80px;
    position: relative;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.searchInput{
    height: 24px;
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    font-size: 16px;
    border: 2px solid var(--secondary);
    border-radius: 6px;
}

.searchButton{
    padding: 6px 4px;
    border-radius: 4px;
    border: none;
    background-color: #e9c46a;

}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.navItems > li {
    margin-inline: 14px;
    color: var(--primary-text-color);
}

.section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    padding-inline: 278px;
    padding-block: 24px;
}

.listContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}

.cardContainer{
    border: 2px solid var(--secondary-text-color);
    padding: 12px 6px;
    border-radius: 6px;
    width: 23.2%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 300px;
}

.shimmerContainer{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.shimmerCardContainer{
    width: 318px;
    height:  300px;
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 318px 300px; 
    display: inline-block;
    position: relative; 
    
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
    0% {
      background-position: -468px 0;
    }
    
    100% {
      background-position: 468px 0; 
    }
  }

.cardImage{
    width: 100%;
    height: auto;
}

.footer{
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--primary-text-color);
}