* {
    margin: 0;
    padding: 0;
}

:root{
    --primary-text-color: #264653;
    --secondary-text-color: #2a9d8f;
    --primary: #e76f51;
    --secondary: #f4a261;
    --tertiary: #e9c46a;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 8px;
    background-color: var(--primary);
    height: 80px;
    position: relative;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 2px solid var(--secondary);
    border-radius: 4px;
    background-color: var(--secondary);
}

.searchInput{
    height: 24px;
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    font-size: 16px;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.navItems > li {
    margin-inline: 14px;
    color: var(--primary-text-color);
}

.section{
    height: 100%;
    padding-inline: 36px;
    padding-block: 24px;
}

.listContainer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
}

.cardContainer{
    border: 2px solid var(--secondary-text-color);
    padding: 12px 6px;
    border-radius: 6px;
    width: 17.5%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 300px;
}

.cardImage{
    width: 100%;
    height: auto;
}

.footer{
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--primary-text-color);
}