.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5px;
    padding-inline: 8px;
    background-color: blueviolet;
    height: 80px;
}

.navItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.navItems > li {
    margin-inline: 14px;
}